.tabs__item {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tabs__item.active {
  text-shadow: 1px 0 0, 0.5px 0 0, -1px 0 0;
  color: #fff;
  background-color: #4481c3;
}

.tabs__item span {
  pointer-events: none;
}
